---
import UbuntuDesktopImage from "@/assets/showcases/desktop.webp";
import UbuntuWslImage from "@/assets/showcases/wsl.webp";
import UbuntuEmbeddedShowcaseImage from "@/assets/showcases/embedded.webp";
import UbuntuContainer from "@/assets/showcases/container.webp";
import UbuntuCloud from "@/assets/showcases/cloud.png";
import UbuntuServer from "@/assets/showcases/server.webp";

import { WebsiteConfig } from "@/config";
import { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
const { lang } = Astro.props;
const config = WebsiteConfig(lang as keyof typeof languages);
const t = useTranslations(lang as keyof typeof languages);

import PageLayout from "@/layouts/PageLayout.astro";
import RssFeedBanner from "@/components/RssFeedBanner.astro";
import EventsBanner from "@/components/EventsBanner.astro";
import Sponsors from "@/components/Sponsors.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<PageLayout
    title={config.metadata.title}
    description={config.metadata.description}
>
    <section class="p-section--hero p-strip is-dark">
        <div class="row--50-50-on-large">
            <div class="col">
                <h1 class="u-no-margin--bottom">
                    {config.metadata.title}
                </h1>
            </div>
            <div class="col">
                <div class="p-section--shallow">
                    <p>
                        {config.metadata.description}
                    </p>
                </div>
            </div>
            <div class="p-image-container--cinematic is-cover">
                <img
                    class="p-image-container__image"
                    src={config.mainPage.heroImageSrc}
                    alt=""
                />
            </div>
        </div>
    </section>
    <section class="p-section p-strip is-dark">
        <hr class="p-rule is-fixed-width" />
        <div class="p-section--shallow">
            <div class="grid-row">
                <div class="grid-col-4">
                    <h2>{t("home.ubuntu.title")}</h2>
                    <p>
                        {t("home.ubuntu.description")}
                    </p>
                    <p>{t("home.ubuntu.ctaPrompt")}</p>
                    <a href="./ubuntu/get-ubuntu"
                        ><button>{t("home.ubuntu.cta")}</button></a
                    >
                </div>
                <div class="grid-col-4 grid-col-medium-4">
                    <div class="grid-row">
                        <div class="grid-col-2 grid-col-medium-2">
                            <a href="#" aria-label="Kubeflow">
                                <div
                                    class="p-image-container--16-9 is-highlighted"
                                >
                                    <img
                                        class="p-image-container__image"
                                        src={UbuntuDesktopImage.src}
                                        alt=""
                                        width="432"
                                        height="481"
                                    />
                                </div>
                                <hr class="p-rule--muted" />
                                <p>{t("home.ubuntu.desktop")}</p>
                            </a>
                        </div>
                        <div class="grid-col-2 grid-col-medium-2">
                            <a href="#" aria-label="MLflow">
                                <div
                                    class="p-image-container--16-9 is-highlighted"
                                >
                                    <img
                                        class="p-image-container__image"
                                        src={UbuntuServer.src}
                                        alt=""
                                        width="222"
                                        height="481"
                                    />
                                </div>
                                <hr class="p-rule--muted" />
                                <p>{t("home.ubuntu.server")}</p>
                            </a>
                        </div>
                        <div class="grid-col-2 grid-col-medium-2">
                            <a href="#" aria-label="Apache Spark">
                                <div
                                    class="p-image-container--16-9 is-highlighted"
                                >
                                    <img
                                        class="p-image-container__image"
                                        src={UbuntuWslImage.src}
                                        alt=""
                                        width="240"
                                        height="481"
                                    />
                                </div>
                                <hr class="p-rule--muted" />
                                <p>{t("home.ubuntu.wsl")}</p>
                            </a>
                        </div>
                        <div class="grid-col-2 grid-col-medium-2">
                            <a href="#" aria-label="OpenSearch">
                                <div
                                    class="p-image-container--16-9 is-highlighted"
                                >
                                    <img
                                        class="p-image-container__image"
                                        src={UbuntuCloud.src}
                                        alt=""
                                        width="330"
                                        height="481"
                                    />
                                </div>
                                <hr class="p-rule--muted" />
                                <p>{t("home.ubuntu.cloud")}</p>
                            </a>
                        </div>
                        <div class="grid-col-2 grid-col-medium-2">
                            <a href="#" aria-label="컨테이너">
                                <div
                                    class="p-image-container--16-9 is-highlighted"
                                >
                                    <img
                                        class="p-image-container__image"
                                        src={UbuntuContainer.src}
                                        alt=""
                                        width="294"
                                        height="481"
                                    />
                                </div>
                                <hr class="p-rule--muted" />
                                <p>{t("home.ubuntu.container")}</p>
                            </a>
                        </div>
                        <div class="grid-col-2 grid-col-medium-2">
                            <a
                                href="https://ubuntu.com/core"
                                aria-label="임베디드 (Ubuntu Core)"
                            >
                                <div
                                    class="p-image-container--16-9 is-highlighted"
                                >
                                    <img
                                        class="p-image-container__image"
                                        src={UbuntuEmbeddedShowcaseImage.src}
                                        alt=""
                                        width="432"
                                        height="481"
                                    />
                                </div>
                                <hr class="p-rule--muted" />
                                <p>{t("home.ubuntu.embedded")}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-section p-strip is-dark">
        <RssFeedBanner />
        <EventsBanner />
    </section>
    <section class="p-section p-strip is-dark">
        <div class="p-section u-fixed-width">
            <hr class="p-rule" />
            <div class="p-section--shallow">
                <div class="u-fixed-width">
                    <h2>{t("home.community.title")}</h2>
                </div>

                <div class="grid-row">
                    <div class="grid-col-4 grid-col-start-large-5">
                        <p>
                            {t("home.community.about")}{" "}
                            <a href="about">{t("home.community.aboutLink")}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-section--shallow">
                <div class="grid-row">
                    <div class="grid-col-2 grid-col-start-large-3">
                        <h3 class="p-heading--5">
                            {t("home.community.online.title")}
                        </h3>
                    </div>

                    <div class="grid-col-4">
                        <ul class="p-inline-list--middot">
                            <li class="p-inline-list__item">
                                <a href={config.links.forum}>
                                    {t("home.community.online.forum")}
                                </a>
                            </li>
                            <li class="p-inline-list__item">
                                <a href="chat">
                                    {t("home.community.online.chat")}
                                </a>
                            </li>
                            <li class="p-inline-list__item">
                                <a href={config.links.mailinglist}
                                    >{t("home.community.online.mailinglist")}</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-6 grid-col-start-large-3">
                        <hr class="is-muted" />
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-2 grid-col-start-large-3">
                        <h3 class="p-heading--5">
                            {t("home.community.offline.title")}
                        </h3>
                    </div>

                    <div class="grid-col-4">
                        <ul class="p-inline-list--middot">
                            <li class="p-inline-list__item">
                                <a href="events"
                                    >{t("home.community.offline.events")}</a
                                >
                            </li>
                            <li class="p-inline-list__item">
                                {t("home.community.offline.meetups")}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-6 grid-col-start-large-3">
                        <hr class="is-muted" />
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-2 grid-col-start-large-3">
                        <h3 class="p-heading--5">
                            {t("home.community.resources.title")}
                        </h3>
                    </div>

                    <div class="grid-col-4">
                        <p>
                            <a href="ubuntu/docs"
                                >{t("home.community.resources.docs")}</a
                            >
                        </p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-6 grid-col-start-large-3">
                        <hr class="is-muted" />
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-2 grid-col-start-large-3">
                        <h3 class="p-heading--5">
                            {t("home.community.contribute.title")}
                        </h3>
                    </div>

                    <div class="grid-col-4">
                        <ul class="p-inline-list--middot">
                            <li class="p-inline-list__item">
                                <a href="contribute">
                                    {t("home.community.contribute.dev")}
                                </a>
                            </li>
                            <li class="p-inline-list__item">
                                <a href="contribute">
                                    {t("home.community.contribute.financial")}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col-6 grid-col-start-large-3">
                            <hr class="is-muted" />
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col-2 grid-col-start-large-3">
                            <h3 class="p-heading--5">
                                {t("home.community.follow.title")}
                            </h3>
                        </div>

                        <div class="grid-col-4">
                            <ul class="p-inline-list--middot">
                                <li class="p-inline-list__item">
                                    <a
                                        href={`https://launchpad.net/~${config.socialMedia.launchpad}`}
                                        >Launchpad</a
                                    >
                                </li>
                                <li class="p-inline-list__item">
                                    <a
                                        href={`https://fb.com/${config.socialMedia.facebook}`}
                                        >Facebook</a
                                    >
                                </li>
                                <li class="p-inline-list__item">
                                    <a
                                        href={`https://instagram.com/${config.socialMedia.instagram}`}
                                        >Instagram</a
                                    >
                                </li>
                                <li class="p-inline-list__item">
                                    <a
                                        href={`https://www.linkedin.com/company/${config.socialMedia.linkedin}`}
                                        >LinkedIn</a
                                    >
                                </li>
                                <li class="p-inline-list__item">
                                    <a
                                        href={`https://x.com/${config.socialMedia.x}`}
                                        >X</a
                                    >
                                </li>
                                <li class="p-inline-list__item">
                                    <a href={`${config.socialMedia.mastodon}`}
                                        >Mastodon</a
                                    >
                                </li>
                                <li class="p-inline-list__item">
                                    <a href={`${config.socialMedia.bluesky}`}
                                        >BlueSky</a
                                    >
                                </li>
                                <li class="p-inline-list__item">
                                    <a
                                        href={`https://www.youtube.com/user/${config.socialMedia.youtube}`}
                                        >YouTube</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col-6 grid-col-start-large-3">
                            <hr class="is-muted" />
                        </div>
                    </div>
                </div>
            </div>
            <section class="p-section p-strip is-dark">
                <Sponsors />
            </section>
        </div>
    </section>
</PageLayout>
