---
import "@/styles/global.scss";
import { WebsiteConfig } from "@/config";
import { languages } from "@/i18n/ui";
export function getStaticPaths() {
	return Object.keys(languages).map((lang) => ({
		params: { lang },
	}));
}

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
const lang = Astro.params.lang;
const config = WebsiteConfig(lang as keyof typeof languages);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={description ? description : config.metadata.description}
		/>
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href={config.metadata.faviconSrc}
		/>
		<meta property="og:title" content={config.metadata.title} />
		<meta property="og:site_name" content={config.metadata.title} />
		<meta property="og:url" content="https://2025.ubuntu-kr.org" />
		<meta
			property="og:description"
			content="8월 9일 Aug 9th | Microsoft Korea 13F"
		/>
		<meta property="og:type" content="" />
		<meta property="og:image" content="https://2025.ubuntu-kr.org/og.png" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:site"
			content=`@${config.socialMedia.x}`
		/>
		<meta name="twitter:title" content={config.metadata.title} />
		<meta
			name="twitter:description"
			content="8월 9일 Aug 9th | Microsoft Korea 13F"
		/>
		<meta
			name="twitter:image"
			content="https://2025.ubuntu-kr.org/og.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>
			{
				title
					? `${title} | ${config.metadata.title}`
					: config.metadata.title
			}
		</title>
	</head>
	<body>
		<slot />
		<script>
			document.querySelectorAll(".auto-format-datetime").forEach((element) => {
            element.innerHTML = new Date(element.innerHTML).toLocaleString();
        });
		</script>
	</body>
</html>
